@font-face {
    font-family: 'Neuropol X Free';
    font-style: normal;
    font-weight: 400;
    src: local('Neuropol X Free'), url('https://fonts.cdnfonts.com/s/24093/neuropol x free.woff') format('woff');
}


